[tools]
python = "3.14"
uv = "0.9.13"

[tasks.install]
description = "create uv env"
run = "uv sync"

[tasks.test]
description = "run tests"
depends = ["install"]
run = "uv run pytest -svv"

[tasks.run]
description = "run the main program"
depends = ["install"]
run = "uv run python src/main.py"

[tasks.lint]
description = "run linters"
depends = ["install"]
run = """
uv run ruff check .
uv run ruff format --check .
"""

[tasks.format]
description = "run formatters and fix issues"
depends = ["install"]
run = """
uv run ruff check --fix .
uv run ruff format .
"""
